*{
    font-family: 'Happy Monkey', system-ui;
    margin: 0;
    padding: 0;
}


nav ul{

    background-color: rgba(33, 34, 51, 0.9);
    /*fixe the position*/
    position: fixed;
    z-index: 3;
    width: 100%;
    text-align:center;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    
    /*turn the navbar to flex and center the content*/
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


nav li {
    display: inline-block;
    flex: 1;
    padding: 10px 10px 0px 10px;
    color: white;
    cursor: pointer;
}

input{
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 4px;
    font-style: oblique;
    padding: 7px 15px;
}

.games{
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 50px 0px;
}

.medal_img , .profile_icon{
    width: 50px;
}

.search_img {
    height: 20px;
    margin-left: 5px;
}

button{
    border-radius: 15px;
    padding: 7px 15px;
    border: 1px solid rgb(104, 66, 255);;
    font-weight: bold;
    background-color:rgb(104, 66, 255);
    transition: transform 0.5s ease-in-out;
    
}

button:hover{
    color: #DBE9EE;
    transform: scale(1.2);
}
 

.grid, 
.grid2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 25px;
    max-width: 1400px;
    margin: 80px auto;
    padding: 20px 10px;
}

.grid img, .grid2 img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border: 5px solid rgba(33, 34, 51, 0.9);
    border-radius: 20px;
    padding: 0%;
    margin: 0%;
    transition: transform 0.3s ease-in-out;
}

h4 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    padding-bottom: 5px;
}

.image-container h4 {
    text-align: center;
    border-radius: 20px;
    margin-top: 0px;
} 

.image-container{
    border: 1px solid rgba(33, 34, 51, 0.9);
    border-radius: 20px;
    background-color: rgba(33, 34, 51, 0.9);
}

h3 {
    background-image: linear-gradient(to right, #ff009d, #1900ff); /* Ajoutez les couleurs de votre dégradé ici */
    -webkit-background-clip: text; /* Propriété nécessaire pour appliquer le dégradé au texte */
    color: transparent; /* Rend le texte transparent pour que le dégradé soit visible */    
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px 0%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-weight:bold;
    font-size: x-large;
}

